/* Color Themes */
$darkBlue: #153e90;

$mediumBlue-v1: #0080FF;
$mediumBlue-v2: #4169E1;
$mediumBlue-v3: #6495ED;
$mediumBlue-v4: #89CFF0;
$mediumBlue-v5: #73C2FB;

$lightBlue: #bedcfa;

$darkGreen: #59886b;
$mediumGreen: #8ECFAE;
$lightGreen: #dbf6e9;

$lightBrown: #F3EFE0;


/* Globally used color-theme variables are initialized centrally from here */
$themeDark: $darkBlue;
$themeMedium: $mediumBlue-v5;
/* $themeLight: $mediumBlue-v3; */

$themeLight: $lightBlue;

/* Comment the 3 lines above and uncomment the 3 lines below to change page theme to green. */

/* $themeDark: $darkGreen;
$themeMedium: $mediumGreen;
$themeLight: $lightGreen; */